--protected
--private
--verbose
--main=README_FULL.md
--output-dir=./yardoc/
--asset ./doc
--markup-provider kramdown
--markup markdown
--title=Algebrick
--template default
--template-path ./../yard-template

./lib/**/*.rb
-
LICENSE.txt
README.md
